<!-- <div class="popular">
    <h2>{{name}}</h2>
    <div class="slider snaps-inline">
        <a class="item" href="info.html">
            <img src="./img/popular/begining.jpeg" alt="cover" srcset="">
            <p>The Beginning After the End</p>
        </a>
        <div class="item">
            <img src="./img/popular/berserk.jpeg" alt="cover" srcset="">
            <p>Berserk</p>
        </div>
        <div class="item">
            <img src="./img/popular/one-piece.jpeg" alt="cover" srcset="">
            <p>One-piece</p>
        </div>
        <div class="item">
            <img src="./img/popular/solo-leveling.jpg" alt="cover" srcset="">
            <p>Solo Leveling</p>
        </div>
        <div class="item">
            <img src="./img/popular/Eternal Sabbath.jpg" alt="cover" srcset="">
            <p>Eternal Sabbath</p>
        </div>
        <div class="item">
            <img src="./img/popular/Jujutsu Kaisen.jpg" alt="cover" srcset="">
            <p>Jujutsu Kaisen</p>
        </div>
        <div class="item">
            <img src="./img/popular/One Punch Man.jpg" alt="cover" srcset="">
            <p>One Punch Man</p>
        </div>
        <div class="item">
            <img src="./img/popular/The Breaker.jpg" alt="cover" srcset="">
            <p>The Breaker</p>
        </div>
    </div>
</div>

<div *ngFor=" let item of mangas.data">
    {{item.id}}
    <p>hello</p>
</div> -->

<div class="popular">
    <h2>{{name}}</h2>
    <div class="slider snaps-inline">
        <div class="item" *ngFor="let item of Mangas">
            <a [routerLink]="['/title', item.id]"><img src="https://mangadex.org/covers/{{item.id}}/{{item.img}}" alt="cover" srcset=""></a>
            <p>{{item.title}}</p>
        </div>


    </div>
</div>